


.anchor-pane {
    -fx-background: #82a5fe;
}


.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}


.text-field, .password-field {
    -fx-border-color: #99ccff;
    -fx-border-radius: 20;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}


.button {
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #e099f9;
    -fx-min-width: 80;
}


#loginButton {
    -fx-background-radius: 20;
    -fx-background-color: #e099f9;
    -fx-text-fill: white;
}


#registerButton {
    -fx-background-radius: 20;
    -fx-background-color: #e099f9;
    -fx-text-fill: white;
}


#moveToRegisterButton {
    -fx-background-color: transparent;
    -fx-text-fill: #99ccff;
    -fx-border-color: transparent;
}


#moveToLoginButton {
    -fx-background-color: transparent;
    -fx-text-fill: #99ccff;
    -fx-border-color: transparent;
}


#wrongLogIn {
    -fx-text-fill: #ff5555;
}


.text-field:focused, .password-field:focused, .button:focused {
    -fx-border-color: #99ccff;
    -fx-border-width: 0;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 20;
}


.rectangle {
    -fx-arc-width: 50;
    -fx-arc-height: 50;
}


.testTextField {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 0;
}


.combobox {
    -fx-background-color: white;
    -fx-border-color: #99ccff;
    -fx-font-size: 12px;
}


.combobox .arrow-button {
    -fx-background-color: #99ccff;
}


.combobox .list-view {
    -fx-background-color: white;
    -fx-border-color: #99ccff;
}


.checkbox {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;

}


.checkbox .box {
    -fx-border-color: #99ccff;
        -fx-background-color: white
}




.checkbox .text {
    -fx-padding: 0 0 0 5;
}


#TestTable {
    -fx-table-cell-border-color: derive(-fx-control-inner-background, -10%);
    -fx-table-header-border-color: derive(-fx-control-inner-background, -20%);
}


#idColmn, #nameColmn, #subjectColmn, #yearOfStudyColmn, #semesterColmn {
    -fx-alignment: CENTER;
}



#TestTable .table-row-cell:hover {
    -fx-background-color: #d9d9d9;
}


#TestTable .table-row-cell:selected {
    -fx-background-color: #99ccff;

}


#TestTable .column-header {
    -fx-background-color: #99ccff;
    -fx-text-fill: white;

}



#resultsTable .table-row-cell:hover {
    -fx-background-color: #d9d9d9;
}


#resultsTable .table-row-cell:selected {
    -fx-background-color: #99ccff;

}


#resultsTable .column-header {
    -fx-background-color: #99ccff;
    -fx-text-fill: white;

}



#testHistoryTable .table-row-cell:hover {
    -fx-background-color: #d9d9d9;
}


#testHistoryTable .table-row-cell:selected {
    -fx-background-color: #99ccff;

}


#testHistoryTable .column-header {
    -fx-background-color: #99ccff;
    -fx-text-fill: white;

}

.usernameText {    -fx-text-fill: white;}